:root {
  --primary-color: #3498db;
  --main-radius: 8px;
  --main-padding: 8px;
  --main-border: solid grey 1px;
}

body {
  margin: 0;
}

main {
  width: 80%;
  margin: 12px auto;
  padding: 16px 48px;
  background-color: aliceblue;
  height: 100vh;
  box-sizing: border-box;
  border: var(--main-border);
  border-radius: var(--main-radius);
}

button {
  border: var(--main-border);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

button {
  cursor: pointer;
}

#header-section {
  margin-bottom: 16px;
  hgroup {
    width: fit-content;
    margin: auto;
    text-align: center;
    h1 {
      margin-bottom: 2px;
    }
  }
}

#card-section {
  height: fit-content;
  margin: auto;
  display: flex;
  gap: 12px;
}

.card {
  width: 300px;
  height: 360px;
  border: var(--main-border);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

.card-info {
  h5,
  p {
    margin: 0;
  }
  h5 {
    margin-bottom: 5px;
  }
  border-bottom: var(--main-border);
  padding: var(--main-padding) 0;
}

#new-book-dialog {
  border: var(--main-border);
  border-radius: var(--main-radius);
  div {
    padding-bottom: var(--main-padding);
  }
  input:not(#read) {
    width: 100%;
  }
}
