:root {
  --primary-color: #3498db;
  --main-radius: 8px;
  --main-padding: 8px;
  --main-border: solid grey 1px;
}

body {
  margin: 0;
}

main {
  width: 80%;
  margin: 12px auto;
  padding: 48px;
  background-color: aliceblue;
  height: 100vh;
  box-sizing: border-box;
  border: var(--main-border);
  border-radius: var(--main-radius);
}

#open-add-new-book-modal {
  display: block;
  margin-bottom: 12px;
  border: var(--main-border);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

#open-add-new-book-modal:hover {
  cursor: pointer;
}

#card-section {
  height: fit-content;
  margin: auto;
  display: flex;
  gap: 12px;
  padding: 18px;
}

.card {
  width: 300px;
  height: 360px;
  border: var(--main-border);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

.card-info {
  h5,
  p {
    margin: 0;
  }
  h5 {
    margin-bottom: 5px;
  }
  border-bottom: 1px solid black;
  padding: 8px 0;
}

#new-book-dialog {
  border: var(--main-border);
  border-radius: var(--main-radius);
  div {
    padding-bottom: var(--main-padding);
  }
  #title,
  #author {
    width: 100%;
  }
}
